{% extends 'base.html' %}


{% block title %}Home{% endblock %}


{% block body %}
<h1>PiMonitor</h1>

<p>Network public IP address: <strong>{{ network_ip }}</strong></p>
<p>Your IP address: <strong>{{ request_ip }}</strong></p>

<hr>

<h2>Results for the last 7 days</h2>

<p>Download average: <strong><span id="downAvg"></span></strong></p>
<canvas id="downChart"></canvas>

<p>Upload average: <strong><span id="upAvg"></span></strong></p>
<canvas id="upChart"></canvas>

<!-- <label for="period">Period:</label>

<select name="period" id="period">
    <option>Hourly</option>
    <option>Daily</option>
    <option>Weekly</option>
    <option>Monthly</option>
</select> -->
{% endblock %}
